

* {

   /*	 fixed width and height of divs despite paddings */
     -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
     z-index: 1;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Arial' !important;
    font-size: 18px !important;
}
.block{
	position: relative;
	width: 100%;
	height: auto;
	clear: both;
	display: inline-block;
	margin: 0px;
	margin-bottom: 20px;
	margin-top: 20px;
	float: left;
	border: 1px solid #91C2F2;
	border-radius: 10px;

}
.blockHeader{
    width: 100%;
    background-color: #91C2F2;
    font-size: 30px;
    color: white;
    top: 0px;
    left: 0px;
    display: inline-block;
    border-radius: 10px;
    padding-left: 10px;
}
.blockHeader, .blockHeaderMenu, .blockMenuItem, .order,.linkURL{
    height: 45px;
    line-height: 45px;
}
.blockHeaderMenu{
    position: absolute;
    right: 0px;
    top: 0px;
    width: auto;
}
.blockMenuItem{
    float:left;
    width: auto;
    padding-left: 7px;
    padding-right: 20px;
    /*border-left: 1px solid black;*/
    text-align: center;
}

.navbar{
    font-weight: 500 !important;
}
.navbar-brand{
    font-size: 30px !important;
    margin-left: 5px !important;
}
.glyphicon-map-marker{
    color: white;
    font-size: 30px;
    margin-top: 7px;
}