/*do not delete: for loading bar*/
body{
    /*overflow: hidden;*/
}
#map-canvas, #destinationDiv, #directions{
    position: relative;
    z-index: 1 !important;
}
.GetDirections{
    cursor: pointer;
}
.linkURL{
    text-decoration: none;
    display: inline-block;
    top: 0px;
}
#map-canvas {
    height: 600px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 1000;
}
.order{
    width: 30px;
    display: inline-block;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 1000;
    background-color: white;
    position: fixed;
}
.overlayInner, .overlayInnerBar, overlayInnerLoading{
    width: 300px;
}
.overlayInner{
    position: absolute;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform:  translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform:  translate(-50%, -50%);
    -ms-transform:  translate(-50%, -50%);
}
.overlayInnerLoading,.overlayInnerDotHolder{
    height: 50px;
    text-align: center;
}
.overlayInnerLoading{
    font-size: 17px;
    font-weight: 600;
}
.overlayInnerDotHolder{
    width: 59px;
    float: left;
}
.overlayInnerDot{
    position: relative;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform:  translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform:  translate(-50%, -50%);
    -ms-transform:  translate(-50%, -50%);
    border: 1px solid blue;
}
.submit{
    position: absolute;
    top: 50%;
    transform: translate(-0,-50%);
    background-color: #3399FF;
    color: white;
    width: auto;
    padding: 0px 10px 0px 10px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px;
    text-align: center;
}
.time{
    height: 30px;
    width: 60px;
    margin: 7px;
}
#transitType{
    height: 30px;
    margin-left: 75px;
    margin-right: 15px;
}