<div class="container margin-bottom" style="margin-top: 150px">
    <h3 class="hdg1">What is tripplanner? and Why does it exist? </h3>
    <p>
        Tripplanner was designed to be used as a tool of guidance in San Francisco and San Diego. Without
        a car and no geographical familiarity of the area my girlfriend and I could use Tripplanner to give
        us a sense of location as we traveled these big cities. Sense of location meaning that on any day and at any place on the trip we would
        have a sense of direction, have knowledge of the area we were in and what we could spend our day doing there.
    </p>
    <br><br>
    <h3 class="hdg1">What is tripplanner supposed to do?</h3>
    <p>
        Prior to the trip we could add destinations we want to visit in these cities (restaurants, museums, beaches, piers, popular streets) by
        saving the location, and important info about a destination. Then on the trip while we are standing in the middle of a vast city with no clue
        where to go we open tripplanner and it automatically sorts our list of destinations by how far they are from our current location. The app
        provides the distance, directions(transit,walking,driving), and info about each destination.
    </p>
    <br><br>
    <h3 class="hdg1">Functionalities <small>Login at top-right corner of page to test functionalities</small></h3>
        <h4 class="hdg2">New Destination</h5>
        <p>By clicking 'New Destination', you can add a new destination that you'd like to visit on your trip </p>
            <p class="innerP"><span class="action">* Create a new yelp destination </span>- paste the URL of a yelp place such as a restaurant and click 'Create Yelp Destination'
            </p>
            <p class="innerP"><span class="action">* Create destination manually </span>- fill out information about the destination and click 'create'
            </p>
        <br>
        <h4 class="hdg2">Destinations</h5>
        <p>By clicking 'Destinations', a list of destinations that you have already added will appear. These destinations will appear in order in relative to the distance to a destination from your current position</p>
            <p class="innerP"><span class="action">* Travel Mode </span>- By changing the drop-down under 'Travel Type' you can get directions for 'driving, transit, and walking'
            </p>
            <p class="innerP"><span class="action">* Departure Time</span>- For Transit only. By setting the departure time you can find directions(by transit) if you're leaving at a time later in the day rather then now.
            <p class="innerP"><span class="action">* Getting Directions </span>- By clicking a <a class="glyphicon glyphicon-map-marker"></a> (pin), you can get the directions to the destination.
            A map will open with directions.
            </p>
             <p class="innerP"><span class="action">* Deleting Destination </span>- Click 'delete' to delete a destination
            </p>
        <br>
        <h4 class="hdg2">Map</h4>
        <p>By clicking 'Map', a map will be displayed showing your current location on the map as well as the destinations</p>
            <p class="innerP"><span class="action">* Zooming </span>- by clicking the '+' or '-' icons at the bottom right corner of the page you can zoom in and out</p>
             <p class="innerP"><span class="action">* View Destination Info</span>- by clicking <a class="glyphicon glyphicon-map-marker"></a> (pin) you can view information about that destination</p>
            <p class="innerP"><span class="action">* Moving the Directions Panel</span>- you can move the directions panel by clicking+holding the light blue bar and dragging it</p>
        <br>
        <h4 class="hdg2">Directions</h4>
        <p>By clicking 'Directions', a map will be displayed showing your current location on the map as well as the destinations.</p>
            <p  class="innerP"><span class="action">* Saving Directions </span>- You can save a current set of direcitons by clicking the save directions button.
            </p>
            <p class="innerP"><span class="action">* Getting Saved Directions</span> - Choose the set of directions you want to view from the drop down, then click 'Get Saved Directions'. Click 'map' menu item to view the route.</p>
</div>