
<!DOCTYPE html>
<html ng-app="trip">
	<head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta id="subpage" data-name="{{subpage}}" >
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->

        <title>Trip Planner</title>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/base.css') }}" media="screen" />
		<link href='http://fonts.googleapis.com/css?family=Bangers|Satisfy|Roboto+Condensed' rel='stylesheet' type='text/css'>

		<!-- Jquery -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<!--Google Map API-->
		<script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeWFY0CQcHswP7VOroCgd49bEBI1P6_-4"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script src="{{ url_for('static', filename='node_modules/angular/angular.js' )}}"></script>
        <script src="{{ url_for('static', filename='node_modules/angular-sanitize/angular-sanitize.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/base.js') }}"></script>
		{% block js %}{% endblock %}

		<!-- load proper css file -->
		{% block css %}{% endblock %}

		<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300' rel='stylesheet' type='text/css'>

	</head>
	<body>
	    <div class="modal fade bs-example-modal-lg" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="usernameIN">Username: </label>
                        <input type="text" class="form-control" id="usernameIN">
                    </div>
                    <div class="form-group">
                        <label for="passwordIN">Password: </label>
                        <input type="text" class="form-control" id="passwordIN">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="loginSubmit" type="button" class="btn btn-primary">Login</button>
                    <button id="logoutSubmit" type="button" class="btn btn-primary">Logout</button>
                </div>
            </div>
          </div>
        </div>

	    <nav class="navbar navbar-inverse">
            <div class="container-fluid">
            <div class="row">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">TripPlanner</a>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a id="menuItemHome" href="{{ url_for('home') }}" >Home</a></li>
                        <li><a id="menuItemNew" href="{{ url_for('createNew') }}">New</a></li>
                        <li><a id="menuItemDirections" href="{{ url_for('savedDirections') }}">Directions</a></li>
                        <li><a id="menuItemDirections" href="{{ url_for('layout') }}">Layout</a></li>
                        <li><a id="menuItemLogin" href="{{ url_for('login') }}">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
	    <div id="container-fluid" class="container-fluid">
    		{% block content %}
    		{% endblock %}
	    </div>
	</body>

</html>




