<!--After user select a destination, they will be directed here with a map, info of the destination, and the directionsß-->
<div>
    <!-- shows details of path -->
    <div style="margin-top: 10px" class="panel panel-default" >
        <div id="directionsInfo" class="panel-body" ng-if="[[destinationName]] != ''">
            <span>Destination:   <span style="color:#4F629C"> [[destinationName]] </span></span><br>
            <span>Start Address: <span style="color:#4F629C"> [[start_address]] </span></span><br>
            <span>End Address:   <span style="color:#4F629C"> [[end_address]] </span></span><br>
            <span>Distance:      <span style="color:#4F629C"> [[total_distance]] </span></span><br>
            <span>Duration:      <span style="color:#4F629C"> [[total_duration]] </span></span><br>
            <a ng-show="isLogged" style="float:right;color: red; cursor:pointer; margin-right: 10px" id="saveDirections">Save Directions</a>
        </div>
        <div id="directionsInfo" class="panel-body" ng-if="[[destinationName]] == ''" >
            <p>Go to Destinations Page and click <a class="glyphicon glyphicon-map-marker"></a> to view route on the map and get directions</p>
        </div>
    </div>
    <!-- shows list of direction -->
    <div class="row" style="margin-top: 10px"  ng-if="[[destinationName]] != ''">
        <div class="col-xs-12">
            <div class="panel panel-default  margin-bottom">
                <!--<div class="panel-body" id="directionsCtrl" ng-controller="directionsCtrl">-->
                <div>
                    <ul id="toggle-view">
                        <li id="[[d.order]]subBlock" class="subBlock" ng-repeat="d in directionBlocks">
                            <div class="row" style="font-size: 8px !important">
                                <!--this contains the icon for direction-->
                                <div class="col-xs-2">
                                    <img class="dirImg" src="../static/images/[[d.imagePath]]">
                                </div>
                                <!-- this contains the direction guidance -->
                                <div class="col-xs-10" style="font-size: 8px !important">
                                    <p>[[d.order]]) [[d.short_description]]  <b>[[d.durationText]], [[d.distanceText]]</b></p>
                                    <!--<p>[[d.travel_description]]</p>-->
                                    <p>[[d.descriptionText]]</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


