{% extends "base.html" %}



{% block js %}
	<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}




{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/home.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/directions.css') }}" media="screen" />
{% endblock %}




{% block content %}

    <div class="overlay">
        <div class="overlayInner">
            <div class="overlayInnerLoading">
                Getting your coordinates takes about 5 secs
            </div>
            <div class="overlayInnerDotHolder">
                 <div id="dot1"  class="overlayInnerDot"></div>
            </div>
            <div class="overlayInnerDotHolder">
                 <div id="dot2" class="overlayInnerDot"></div>
            </div>
            <div class="overlayInnerDotHolder">
                 <div id="dot3" class="overlayInnerDot"></div>
            </div>
            <div class="overlayInnerDotHolder">
                 <div id="dot4" class="overlayInnerDot"></div>
            </div>
            <div class="overlayInnerDotHolder">
                 <div id="dot5" class="overlayInnerDot"></div>
            </div>
        </div>
    </div>




    <div id="map-canvas"></div>


    <div id="destinationDiv" class="block">
     Departure Time:
         <select id="hours" class="time">
            <option selected="selected">Now</option>
            {% for i in range(1, 13) %}
            <option>{{i}}</option>
            {% endfor %}
         </select>
        <select id="mins" class="time">
            <option selected="selected">Now</option>
        {% for i in range(0, 60) %}
            <option>
                {% if i < 10 %}
                    0{{i}}
                {% else %}
                    {{i}}
                {% endif %}
            </option>
        {% endfor %}
        </select>
        <select id="period" class="time">
            <option selected="selected">Now</option>
            <option>AM</option>
            <option>PM</option>
        </select>
        <select id="transitType">
            <option>Transit</option>
            <option selected="selected">Walking</option>
            <option>Driving</option>
        </select>
        <a id="update" class="submit">Update Travel Times</a>
    </div>

    <div id="directions">
        <!--
        <div id="0subBlock" class="subBlock" style="height: 84px;">
            <div id="0innerLeft" class="innerLeft" style="height: 84px;">
                <div id="0centerHorizontally" class="centerHorizontally">
                    <img class="directionImg" src="../static/images/walking.png">
                    <div class="innerLeftText">Walk for about</div>
                    <div class="innerLeftText">4 mins, 0.2 mi</div>
                    <div class="agency">
                        <span class="header">Walking</span>
                    </div>
                </div>
            </div>
            <innerright id="0innerRight" class="innerRight">Walk to Sandusky St at Underpass</innerright>
        </div>
        -->
    </div>
{% endblock %}

























