{% extends "base.html" %}



{% block js %}
	<script src="{{ url_for('static', filename='js/home.js') }}"></script>
	<script src="{{ url_for('static', filename='js/directions.js')}}"></script>
{% endblock %}




{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/home.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/directions.css') }}" media="screen" />
{% endblock %}




{% block content %}

    <div class="overlay">
        <div class="overlayInner">
            <div class="overlayInnerLoading">
                Getting your coordinates and loading map
            </div>
            <div class="overlayInnerDotHolder">
                 <div id="dot1"  class="overlayInnerDot"></div>
            </div>
            <div class="overlayInnerDotHolder">
                 <div id="dot2" class="overlayInnerDot"></div>
            </div>
            <div class="overlayInnerDotHolder">
                 <div id="dot3" class="overlayInnerDot"></div>
            </div>
            <div class="overlayInnerDotHolder">
                 <div id="dot4" class="overlayInnerDot"></div>
            </div>
            <div class="overlayInnerDotHolder">
                 <div id="dot5" class="overlayInnerDot"></div>
            </div>
        </div>
    </div>

    <!-- if geolocation fails. open this to get users current address -->
    <div class="modal fade bs-example-modal-lg" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Your browser doesn't support Geolocation. Please enter your location:</h4>
             </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Address</label>
                    <input type="text" class="form-control" id="userAddress" placeholder="Closet Address relative to your position">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">City</label>
                    <input type="text" class="form-control" id="userCity" placeholder="City">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">State</label>
                    <input type="text" class="form-control" id="userState" placeholder="State">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Zip</label>
                    <input type="text" class="form-control" id="userZip" placeholder="Zip">
                </div>

            </div>
            <div class="modal-footer">
                <button id="manualGeolocation" type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
      </div>
    </div>




    <div id="map-canvas"></div>

    <div class="panel panel-default" id="destinationDiv" class="block" >
        <div class="panel-body">
            <div class="inlineForm">                                            <!--"inlineForm keep dropdown and buttons in line-->
                <form class="form-inline">
                    <div class="form-group">
                        <p class="form-control-static"><strong>Departure Time:</strong></p>
                        <select class="form-control time" id="hours">
                            <option>Now</option>
                            {% for i in range(1, 13) %}
                            <option>{{i}}</option>
                            {% endfor %}
                        </select>
                        <select class="form-control time" id="mins">
                            <option>Now</option>
                            {% for i in range(0, 60) %}
                            <option>
                                {% if i < 10 %}
                                    0{{i}}
                                {% else %}
                                    {{i}}
                                {% endif %}
                            </option>
                            {% endfor %}
                        </select>
                        <select class="form-control time" id="period">
                            <option>Now</option>
                            <option>AM</option>
                            <option>PM</option>
                        </select>
                        <select class="form-control" id="transitType">
                            <option>Walking</option>
                            <option>Transit</option>
                            <option>Driving</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="inlineForm" id="left-inline-form">
                <button class="btn btn-default btn-lg" class="submit" type="submit" id="update">Update</button>
                <button id="saveDirections" class="btn btn-success btn-lg" type="submit">Save</button>
            </div>
        </div>
    </div>

    <!--<div id="destinationDiv" class="block">-->
    <!--    Departure Time:-->
    <!--     <select id="hours" class="time">-->
    <!--        <option selected="selected">Now</option>-->
    <!--        {% for i in range(1, 13) %}-->
    <!--        <option>{{i}}</option>-->
    <!--        {% endfor %}-->
    <!--     </select>-->
    <!--    <select id="mins" class="time">-->
    <!--        <option selected="selected">Now</option>-->
    <!--    {% for i in range(0, 60) %}-->
    <!--        <option>-->
    <!--            {% if i < 10 %}-->
    <!--                0{{i}}-->
    <!--            {% else %}-->
    <!--                {{i}}-->
    <!--            {% endif %}-->
    <!--        </option>-->
    <!--    {% endfor %}-->
    <!--    </select>-->
    <!--    <select id="period" class="time">-->
    <!--        <option selected="selected">Now</option>-->
    <!--        <option>AM</option>-->
    <!--        <option>PM</option>-->
    <!--    </select>-->
    <!--    <select id="transitType">-->
    <!--        <option>Transit</option>-->
    <!--        <option selected="selected">Walking</option>-->
    <!--        <option>Driving</option>-->
    <!--    </select>-->
    <!--    <button class="btn btn-default" class="submit" type="submit" id="update">Update Travel Time</button>-->
    <!--    <button class="btn btn-success" type="submit">Update Travel Time</button>-->

        <!--<a id="update" class="submit">Update Travel Times</a>-->
    <!--</div>-->

    <div id="directions">
        <!--
        <div id="0subBlock" class="subBlock" style="height: 84px;">
            <a id="0Clear" class="innerLeftHeader">
                <div class="innerLeftHeaderBlock">1</div>
                <div class="innerLeftHeaderBlock">X</div>
            </a>
            <div id="0innerLeft" class="innerLeft" style="height: 84px;">
                <div id="0centerHorizontally" class="centerHorizontally">
                    <img class="directionImg" src="../static/images/walking.png">
                    <div class="innerLeftText">Walk for about</div>
                    <div class="innerLeftText">4 mins, 0.2 mi</div>
                    <div class="agency">
                        <span class="header">Walking</span>
                    </div>
                </div>
            </div>
            <innerright id="0innerRight" class="innerRight">Walk to Sandusky St at Underpass</innerright>
        </div>
        -->
    </div>
{% endblock %}

























