
    <div class="panel panel-default" ng-controller="directionsListCtrl" id="directionsListCtrl" style="margin-top: 150px">
        <div class="panel-body">
            <div class="inlineForm">
                <form class="form-inline">
                    <div id="form-group-data" class="form-group">
                        <p class="form-control-static">
                            <strong>Saved Directions For:</strong>
                        </p>
                        <select id="directionsFor" class="form-control time" >
                            <option ng-repeat="d in destinationsList" id="[[d.directionID]]">[[d.name]] ([[d.travelMode]])</option>
                        </select>
                    </div>
                    <button ng-click="deleteDirections()" ng-show="isLogged" style="float:right; margin-right:30px;" class="btn btn-default btn-lg delete"  type="submit">Delete Directions</button>
                    <button id="getSavedDirections" style="float:right; margin-right:30px;" class="btn btn-default btn-lg"  type="submit">Get Saved Directions</button>
                </form>
            </div>
        </div>
    </div>

    {% include 'directions.html' %}

