{% extends "base.html" %}



{% block js %}
	<script src="{{ url_for('static', filename='js/savedDirections.js')}}"></script>
	<script src="{{ url_for('static', filename='js/directions.js')}}"></script>
{% endblock %}




{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/savedDirections.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/directions.css') }}" media="screen" />
{% endblock %}




{% block content %}


<!--class="panel-body"-->
    <div class="panel panel-default">
        <div class="inlineForm">
            <form class="form-inline">
                <div id="form-group-data" class="form-group">
                    <p class="form-control-static">
                        <strong>Departure Time:</strong>
                    </p>
                    <select id="directionsFor"class="form-control time">
                    {% for d in destinations %}
                            <option id="{{d.directionID}}"><div>{{d.name}} ({{d.travelMode}})</div></option>
                    {% endfor %}
                    </select>

                </div>
                <button id="getSavedDirections" style="float:right; margin-right:30px;" class="btn btn-default btn-lg"  type="submit">Get Saved Directions</button>
            </form>
        </div>
    </div>
    <div id="directions">
    </div>

{% endblock %}

























