 <div style="margin-top: 90px">
    <div class="col-xs-12">
        <form>
            <label>Saved Directions</label>
            <select class="form-control">
                <option>------- Default -------</option>
                <option>Dan's Dream (Mindreading)</option>
                <option>Dan's bedroom (Teleporting)</option>
                <option>Dan's Fluffy Chicken Hair (Rubbing)</option>
            </select>
        </form>
        <div class="text-center">
            <button type="button" class="btn btn-success" style="margin-top: 20px">Load Direction</button>
        </div>
    </div>
</div>